<!DOCTYPE html>
<html lang="en">
<head>
    <title> feature craete </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/modernforms.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/toastr.min.css">

    <style>
        #editor {
            position: absolute;
            width: 450px;
            height: 400px;
        }
    </style>
</head>
<body class="mdn-bg">

<div class="modern-forms">
    <div class="modern-container mc2 mdn-shadow">

        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="/admin/features">列表</a></li>
            <li class="active">数据</li>
        </ol>

        {{template "_flash" .}}


        <form  method="post">
            <fieldset>
                <div class="form-group">
                    <input id="title" class="form-control" value="{{ .feature.Title }}" type="text"
                           placeholder="请输入 feature">
                    <span class="help-block">feature 搜索的关键字, 如<code>md5</code></span>
                </div>
                <div class="form-group">
                    <textarea id="description" class="form-control" rows="3">
                        {{ .feature.Description }}
                    </textarea>
                    <span class="help-block">描述,可用于全文索引</span>
                </div>
                <div class="form-group">
                    <input id="view-count" class="form-control" value="{{ .feature.ViewCount }}" type="text"
                           placeholder="请输入 数量" type="number">
                    <span class="help-block">播放数量</span>
                </div>
                <div class="form-group">
                    <input id="published" class="form-control" value="{{ .feature.Published }}" type="text" name="published" type="radio">
                    <span class="help-block">播放数量</span>
                </div>
                <div class="form-group">
                    <div id="editor">{{ .feature.Code }}</div>
                </div>
            </fieldset>
            <div class="mdn-footer" style="margin-top: 450px;">
                <button type="button" id="submit-btn" class="mdn-button btn-primary">提交</button>
            </div>
        </form>
    </div>
</div>

<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"
        integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-golang.min.js"
        integrity="sha512-ygPQ0iMxQsv7pPjbXoAqAMarQFtgGP+2oMYYL4gD0Skm5J25i/qsPdHUQbEw6P7C3VyM6gt9XbmFlLN98ojROw=="
        crossorigin="anonymous"></script>
<script>
    var editor = ace.edit("editor", {
        mode: "ace/mode/golang"
    });
    editor.setTheme("ace/theme/twilight");
    // editor.getValue()

    $('#submit-btn').click(function () {

        let data = {
            title: $('#title').val(),
            description: $('#description').val(),
            code: editor.getValue(),
            _method: 'PUT',
        };

        $.ajax({
            url: "/admin/features/{{ .feature.Id }}",
            type: "PUT",
            data: data,
            success: function (res) {

                if (res.code != 200) {
                    toastr.error(res.msg);
                    return;
                }

                toastr.success(res.msg);
                setTimeout(function () {
                    window.location.reload()
                }, 2000)
            },
            error: function () {

                toastr.error("系统错误,请稍后再试");
            }
        });
    });
</script>
</body>
</html>
