<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Home Page</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">

    <nav class="navbar navbar-default navbar-static-top">
        <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">{{ .admin }}</a></li>
                    <li><a target="_blank" href="/">首页</a></li>
                    <li><a target="_blank" href="/admin/features">features</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Panel heading</div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>名字</th>
                <th>描述</th>
                <th>代码块</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{ range .features }}
                <tr>

                    <td>{{ .Id }}</td>
                    <td>{{ .Title }}</td>
                    <td>{{ .Description }}</td>
                    <td>
                        {{ if .Published }}
                            <span class="label label-success">已发布</span>
                        {{ else }}
                            <span class="label label-default">未发布</span>
                        {{ end }}

                    </td>
                    <td>
                        <code>
                            {{ .Code }}
                        </code>
                    </td>
                    <td>
                        <a href="/admin/features/{{ .Id }}/edit" class="btn btn-info">编辑</a>
                        <a class="btn btn-danger">删除</a>
                    </td>

                </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>