<!DOCTYPE html>
<html lang="en">
<head>
    <title> Login Form Shadow </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/modernforms.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
</head>
<body class="mdn-bg">
<div class="modern-forms">
    <div class="modern-container mc2 mdn-shadow">
        <form action="/admin/login" method="post">
            <fieldset>
                <div class="field-group prepend-icon">
                    <input type="text" class="mdn-input" placeholder="输入你的管理员用户名">
                    <label class="mdn-label">用户名</label>
                    <span class="mdn-icon"><i class="fa fa-male"></i></span>
                    <span class="mdn-bar"></span>
                </div>
                <div class="field-group prepend-icon">
                    <input type="email" class="mdn-input" placeholder="请输入密码">
                    <label class="mdn-label">密码</label>
                    <span class="mdn-icon"><i class="fa fa-lock"></i></span>
                    <span class="mdn-bar"></span>
                </div>
            </fieldset>
            <div class="mdn-footer">
                <button type="submit" class="mdn-button btn-primary">登录</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
