<!DOCTYPE html>
<html lang="en">
<head>
    <title>golang-features</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
<header>
    <h1>
        <a href="https://github.com/seth-shi/golang-features">golang-features</a>
    </h1>
    <p>快速的搜索你想要的 features.</p>
</header>

<div class="search">
    <input type="search" placeholder="search here" required>
</div>


<div class="container">
    <div class="box">
        <h3>点击榜</h3>
        <div class="box-data">
            <blockquote>
                <span>md5 函数</span>
                <br><cite> — md5 </cite>
            </blockquote>
            <blockquote>
                <span>md5 函数</span>
                <br><cite> — md5 </cite>
            </blockquote>
            <blockquote>
                <span>md5 函数</span>
                <br><cite> — md5 </cite>
            </blockquote>
            <blockquote>
                <span>md5 函数</span>
                <br><cite> — md5 </cite>
            </blockquote>
            <blockquote>
                <span>md5 函数</span>
                <br><cite> — md5 </cite>
            </blockquote>
            <blockquote>
                <span>md5 函数</span>
                <br><cite> — md5 </cite>
            </blockquote>
            <blockquote>
                <span>md5 函数</span>
                <br><cite> — md5 </cite>
            </blockquote>
        </div>
    </div>
    <div class="box search-box">
        <h3 id="search-title">search</h3>
        <div id="data" class="box-data">
            <blockquote>
                <span>md5 函数</span>
                <br><cite> — md5 </cite>
            </blockquote>
            <blockquote>
                <span>md5 函数</span>
                <br><cite> — md5 </cite>
            </blockquote>
        </div>
    </div>
    <div class="box">
        <h3>最新的</h3>
        <div class="box-data">
            <blockquote>
                <span>md5 函数</span>
                <br><cite> — md5 </cite>
            </blockquote>
            <blockquote>
                <span>md5 函数</span>
                <br><cite> — md5 </cite>
            </blockquote>
        </div>
    </div>
</div>

<span class="separator"></span>

<footer>

</footer>
<script src="/assets/js/jquery-2.1.1.min.js"></script>
</body>
</html>