<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Golang</title>

    <link rel="stylesheet" href="assets/css/index.css">

</head>
<body>

    <div class="wrapper">
        <div class="search">
            <input type="text" class="inp" placeholder="关键字搜索1">
        </div>
        <ul class="container"></ul>
        <h3 class="prompt">空空如也</h3>
    </div>
    

    <script src="assets/js/jquery-2.1.1.min.js"></script>
    <script src="assets/js/index.js"></script>
</body>
</html>